@font-face {
  font-family: "Open Sans"; /* Consider using consistent capitalization */
  src: url("/fonts/OpenSans-Light.ttf") format("truetype"); /* Correct the format and add the file extension */
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-SemiBold.ttf") format("truetype"); /* Same corrections as above */
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oscine";
  src: url("/fonts/oscine_lt-webfont.ttf") format("truetype"); /* Correct the format */
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-size: 60px;
  line-height: 66px;
  font-family: "Oscine";
  color: #0c0931;
  font-weight: 300;
}

h2 {
  font-size: 30px;
  line-height: 36px;
  font-family: "Oscine";
  color: #0c0931;
  font-weight: 300;
}

h3 {
  font-size: 22px;
  line-height: 27px;
  font-family: "Oscine";
  color: #0c0931;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
}
